<h1 style="color: rgb(147, 10, 10); text-align: center; background-color: aqua;">ABOUT US</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <br><br><h1 style="color: brown;">MISSION</h1>
                    <br><p  style="text-align: justify">Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.</p>
                </div>
                <div class="col">
                    <br><br><img src="../../../assets/nest5.jpg" alt="img2" style="width: 400px;">
                </div>
            </div>
            <div class="row">
                    <div class="col">  
                        <h1 style="color: brown; text-align: justify;">VISSION</h1>
                        <br><p style="text-align: justify">Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.</p>
                    </div>
                    <div class="col">
                        <br><br><img src="../../../assets/nest6.jpg" alt="img" style="width: 400px;">
                    </div>
            </div>
        </div>
